// Colors
$primary-color: #ea580c;
$primary-dark: darken($primary-color, 10%);
$primary-light: lighten($primary-color, 10%);
$text-dark: #111827;
$text-light: #4b5563;
$white: #ffffff;
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827; 